---
import '../styles/index.css';


import { Image } from 'astro:assets';
import { getCollection, getEntry, render } from 'astro:content';
import { name, openGraph } from 'spectre:globals';
import Card from '../components/Card.astro';
import Icon from '../components/Icon.astro';
import Layout from '../layouts/Layout.astro';

const [posts, projects, about, workExperience, quickInfo, socials] =
    await Promise.all([
        getCollection("posts", (post) => post.data.draft !== true),
        getCollection("projects"),
        getEntry("other", "about"),
        getCollection("workExperience"),
        getCollection("quickInfo"),
        getCollection("socials")
    ]);

// biome-ignore lint/style/noNonNullAssertion: Should always be defined.
const { Content: About } = await render(about!);
---

<Layout
    title={openGraph.home.title || name}
    description={openGraph.home.description}
    pagefindIgnore
>
    <div class="center-container" slot="center">
        <div class="section-container">
            <h1>Hi there! I'm<br><span class="text-glow">Kim Pham</span></h1>
            <p style="font-size: 1.25em; margin-bottom: 2rem;">
                I'm a <span class="text-glow">frontend software engineer</span> from Melbourne, Australia.<br/>
                I love building delightful user experiences with design and code.
            </p>
            <div class="socials-list" style="">
                {
                    socials.map((item) => (
                        <a href={item.data.link} style="text-decoration: none;">
                            <div class="socials-link">
                                <Icon
                                    type={item.data.icon.type}
                                    name={item.data.icon.name as any}
                                    width={24}
                                    height={24}
                                    class="glow-icon"
                                />
                                <span>{item.data.text}</span>
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
        <div class="section-container">
            
                <div class="header-container">
                    <Icon
                        type="lucide"
                        name="briefcase-business"
                        width={24}
                        height={24}
                        class="glow-icon"
                    />
                    <h2>Work Experience</h2>
                    <a href={`/work`}>See more </a>
                </div>
            <Card>
                {
                    workExperience.reverse().map((entry) => (
                    <a href={'/work'} style="text-decoration: none; color: inherit;">
                        <div class="work-experience-entry">
                            <div class="work-experience-header">
                                <div class="work-experience-logo">
                                    <Image
                                        quality={100}
                                        width={80}
                                        height={80}
                                        src={entry.data.image}
                                        alt={`${entry.data.company} logo`}
                                        loading="eager"
                                    />
                                </div>
                                <div>
                                    <span class="work-experience-duration">
                                        {entry.data.duration}
                                    </span>
                                    <h3 class="work-experience-company">
                                        {entry.data.company}
                                    </h3>
                                    <span class="work-experience-role">
                                        {entry.data.title}
                                    </span>
                                </div>
                            </div>
                            
                            <p class="work-experience-desc">
                                {entry.data.description}
                            </p>
                        </div>
                    </a>
                    ))
                }
            </Card>
        </div>
        <!-- <div class="section-container">
            <div class="header-container">
                <Icon
                    type="lucide"
                    name="briefcase-business"
                    width={24}
                    height={24}
                    class="glow-icon"
                />
                <h2>Education</h2>
                <a href={`/work`}>See more </a>
            </div>
        </div>
        <div class="header-container">
            <Icon
                type="lucide"
                name="briefcase-business"
                width={24}
                height={24}
                class="glow-icon"
            />
            <h2>Projects</h2>
            <a href={`/work`}>See more </a>
        </div>
        <div class="header-container">
            <Icon
                type="lucide"
                name="briefcase-business"
                width={24}
                height={24}
                class="glow-icon"
            />
            <h2>Contact me!</h2>
            <a href={`/work`}>See more </a>
        </div> -->
    </div>

    <!-- <div class="layout-grid-left" slot="left">
        <Card class="flex-col-card">
            <ImageGlow
                quality={100}
                width={80}
                height={80}
                src={ProfilePicture}
                alt="Louis looking out of a window"
                loading="eager"
            />
            <h2>{name}</h2>
            <ul class="overview-list">
                {
                    quickInfo.map((info) => (
                        <li>
                            <Icon
                                type={info.data.icon.type}
                                name={info.data.icon.name as any}
                                width={24}
                                height={24}
                                class="glow-icon"
                            />
                            <span>{info.data.text}</span>
                        </li>
                    ))
                }
            </ul>
        </Card>
        <Card>
            <h3 class="no-mt">Socials</h3>
            <ul class="overview-list">
                {
                    socials.map((item) => (
                        <li>
                            <a href={item.data.link} class="socials-link">
                                <Icon
                                    type={item.data.icon.type}
                                    name={item.data.icon.name as any}
                                    width={24}
                                    height={24}
                                    class="glow-icon"
                                />
                                <span>{item.data.text}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </Card>
    </div>
    <div class="layout-grid-right" slot="right">
        <Card>
            <div class="header-container">
                <Icon
                    type="lucide"
                    name="user"
                    width={24}
                    height={24}
                    class="glow-icon"
                />
                <h2>About me</h2>
            </div>
            <div class="prose">
                <About />
            </div>
        </Card>
        <Card>
            <div class="header-container">
                <Icon
                    type="lucide"
                    name="rss"
                    width={24}
                    height={24}
                    class="glow-icon"
                />
                <h2>Latest Posts</h2>
                <a href={`/blog`}>See all </a>
            </div>
            <div class="content-container">
                {
                    posts
                        .sort(
                            (a, b) =>
                                b.data.createdAt.getTime() -
                                a.data.createdAt.getTime()
                        )
                        .slice(0, 2)
                        .map((post) => (
                            <a href={`/blog/${post.id}`} class="post-container">
                                <div class="post-header">
                                    <h3>{post.data.title}</h3>
                                    <span class="post-date">
                                        {post.data.createdAt.toLocaleDateString()}
                                    </span>
                                </div>
                                <span>{post.data.description}</span>
                            </a>
                        ))
                }
            </div>
        </Card>
        <Card>
            <div class="header-container">
                <Icon
                    type="lucide"
                    name="folder-git"
                    width={24}
                    height={24}
                    class="glow-icon"
                />
                <h2>Latest Projects</h2>
                <a href={`/projects`}>See all </a>
            </div>
            <div class="content-container">
                {
                    projects
                        .sort(
                            (a, b) =>
                                b.data.date.getTime() - a.data.date.getTime()
                        )
                        .slice(0, 2)
                        .map((project) => (
                            <a
                                href={`/projects/${project.id}`}
                                class="post-container"
                            >
                                <div class="post-header">
                                    <h3>{project.data.title}</h3>
                                    <span class="post-date">
                                        {project.data.date.toLocaleDateString()}
                                    </span>
                                </div>
                                <span>{project.data.description}</span>
                            </a>
                        ))
                }
            </div>
        </Card>
        <Card>
            <div class="header-container">
                <Icon
                    type="lucide"
                    name="briefcase-business"
                    width={24}
                    height={24}
                    class="glow-icon"
                />
                <h2>Work Experience</h2>
                <a href={`/work`}>See more </a>
            </div>
            <div class="work-experience-container">
                {
                    quickWorkExperience.reverse().map((entry) => (
                        <div class="work-experience-entry">
                            <span class="work-experience-duration">
                                {entry.data.duration}
                            </span>
                            <h3 class="work-experience-company">
                                {entry.data.company}
                            </h3>
                            <span class="work-experience-role">
                                {entry.data.title}
                            </span>
                            <p class="work-experience-desc">
                                {entry.data.description}
                            </p>
                        </div>
                    ))
                }
            </div>
        </Card>
    </div> -->
</Layout>
<style>
    .center-container {
        display: flex;
        height: 80vh;
        /* justify-content: center; */
        /* align-items: center; */
        /* width: 100%; */
        /* text-align: center; */
        flex-direction: column;
    }

    .center-container h1 {
        font-size: 1.5em;
    }

    h1 .text-glow {
        font-size: 3rem;
    }

    .socials-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .socials-link {
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        border: 1px solid var(--dark-grey);
        background: var(--darkest-purple);
        text-decoration: none;
    }

    .socials-link,
    .card {
        transition:
            background-color 0.15s ease,
            border 0.15s ease;
    }

    .socials-link:hover,
    .socials-link:focus-visible {
        background-color: #1F2434;
        border: 1px solid var(--primary);
    }

    .card:hover,
    .card:focus-visible {
        background-color: #181A28;
        border: 1px solid var(--primary);
    }

    .socials-link:focus-visible {
        outline: none;
    }

    .header-container {
        align-items: baseline;
        justify-items: center;
    }

    .section-container {
        margin-bottom: 3rem;
        /* background-color: var(--dark-purple); */
    }

    @media screen and (max-width: 640px) {
        .center-container {
            margin: 0 1rem;
            gap: 1rem;
        }

        .socials-list {
            flex-direction: column;
        }

        .socials-link {
            justify-content: center;
        }
    
</style>
