---
import '../styles/index.css';

import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';
import { name, openGraph } from 'spectre:globals';
import Card from '../components/Card.astro';
import Icon from '../components/Icon.astro';
import Layout from '../layouts/Layout.astro';

const [workExperience, socials] = await Promise.all([
    getCollection("workExperience"),
    getCollection("socials")
]);

const workExperiences = await Promise.all(
    workExperience.map(async (item: any) => {
        const { Content } = await render(item);
        return { ...item.data, Content };
    })
);
---

<Layout
    title={openGraph.work.title || name}
    description={openGraph.work.description}
>
    <div class="layout-grid-left" slot="left">
        <Card>
            <h2 class="no-mt">Links</h2>
            <ul class="overview-list">
                {
                    socials.map((item) => (
                        <li>
                            <a href={item.data.link} class="socials-link" target="_blank">
                                <Icon
                                    type={item.data.icon.type}
                                    name={item.data.icon.name as any}
                                    width={24}
                                    height={24}
                                    class="glow-icon"
                                />
                                <span>{item.data.text}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </Card>
    </div>
    <div class="layout-grid-right" slot="right">
        <Card>
            <div class="header-container">
                <Icon
                    type="lucide"
                    name="briefcase-business"
                    width={24}
                    height={24}
                    class="glow-icon"
                />
                <h2>Work Experience</h2>
            </div>
            <div class="work-experience-container">
                {
                    workExperiences.map(async (entry) => (
                    <div class="card-entry">
                            <div class="work-experience-header">
                                <Image
                                    quality={100}
                                    width={80}
                                    height={80}
                                    src={entry.image}
                                    alt={`${entry.company} logo`}
                                    loading="eager"
                                />
                                <div>
                                    <span class="card-date">
                                        {entry.duration}
                                    </span>
                                    <h3 class="card-title">
                                        {entry.company}
                                    </h3>
                                    <span class="card-subtitle">
                                        {entry.title}
                                    </span>
                                </div>
                            </div>
                            
                            <p>
                                {entry.description}
                            </p>
                            <entry.Content />
                        </div>
                    ))
                }
            </div>
        </Card>
    </div>
</Layout>
